{% extends 'agency/base.html' %}
{% load staticfiles %}

{% block extended_head %}
<link rel="stylesheet" href="{% static 'css/contact.css' %}">
{% endblock %}

{% block content %}
   <section>
    <h1>Contact Me </h1>
 
        <form method="POST" action="" enctype="multipart/form-data"> {% csrf_token %}
        <div class="field">
            {{ form.as_p }}
        </div>
        
        <button type="submit" class="success button">Save</button>
    </form>
    </section>
    <
{% endblock %}